main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}


main > h2 {
    grid-column: 1 / -1; 
    text-align: center;
}


article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* Responsive grid for small screens */
@media (max-width: 600px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }
}